<html>
<head>
    <title>new device</title>
</head>
<body>
    <h1 style="text-align:center">OCF Resource Tool</h1>

    <form action="/newDeviceResource" method="POST" >
        <h1>Add New Device</h1>
    
        <label><b>Enter name</b></label>
        <input type="text" placeholder="Device type" name="device" required>
    
        <button type="submit" >Add</button>
    </form>
    
    <form action='/device' method='GET'>
        <button type="submit" >Back</button>
    </form>

</body>
</html>