<html>
<head>
    <title>new device</title>
    <style>
        body{
            background-color: lightblue;
        }
        .wrapper {
            width : 500px ;
            margin : 20px auto ;
            background-color: white;
            padding : 3px 120px 20px 120px ;
            border-radius: 20px ;
        }
        .wrapper .content{
            margin-top: 30px;
            margin-left: 30px;
            margin-bottom: 50px ;
            height : 50px ;
            display : flex ;
            font-size:larger;
            align-items: center;
        }
        .wrapper .content label{
            width : 200px ;
            font-size: 25px ;
        }
        .wrapper .content .input{
            width: 70%;
            height : 80%;
            font-size: 20px;
        }
        button{
            width : 60% ; 
            padding : 8px 10px ;
            margin-left: 110px;
            margin-bottom: 20px;
            font-size: 15px;
            cursor: pointer;
            background-color:lightblue ;
            border : 0 ;
            border-radius: 20px;
            
        }

    </style>
</head>
<body>
    <div class="wrapper">
        <h1 style="text-align:center">OCF Resource Tool</h1>

        <form action="/newDeviceResource" method="POST" >
            <h1 style="text-align:center">Add New Device</h1>

            <div class="content">
                <label><b>Enter name : </b></label>
                <input type="text" placeholder="Device type" name="device" class="input" required><br>
            </div>
            <button type="submit" >Add</button>
        </form>
        
        <form action='/device' method='GET'>
            <button type="submit" >Back</button>
        </form>
    </div> 

</body>
</html>