<html>
    <head>
        <title>download page</title>
        <style>
            body{
            background-color: lightblue;
        }
        .wrapper {
            width : 500px ;
            height : 400px ;
            margin : 20px auto ;
            background-color: white;
            padding : 3px 120px 20px 120px ;
            border-radius: 20px ;
        }
        button{
            padding : 8px 10px ;
            font-size: 15px;
            cursor: pointer;
            border : 0 ;
        }
        .download{
            height : 10% ;
            width : 30% ; 
            margin: 70px 0px 0px 170px;
            background-color : lightblue;
        }
        .back{
            width : 50% ; 
            margin-top: 60px;
            margin-left: 125px;
            background-color:lightblue ;
            border-radius: 20px;
        }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <h1 style="text-align:center">OCF Resource Tool</h1>
            <h2 style="text-align:center">Download <%= deviceName%> JSON file</h2>
            <div class="d">
                <a href="/data.json" download>
                    <button type="button" class='download'>Download</button>
                </a>
            </div>
            <form action = '/customize' method="GET"> 
                <button type="submit" class = 'back' >Back</button> 
            </form>
        </div>
    </body>
</html>