<html>
<head>
    <title>Customize</title>
    <style>
        body{
            background-color: lightblue;
        }
        .wrapper {
            width : 500px ;
            margin : 20px auto ;
            background-color: white;
            padding : 3px 120px 20px 120px ;
            border-radius: 20px ;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <h1 style="text-align:center">OCF Resource Tool</h1>

        <h2 style="text-align:center">Customize selected Resource types for the device</h2>

        <h2>Work under process</h2>


        <form action="/resource" method="GET" >
            <button id = "back" type="submit">Back</button>
        </form>
    </div>

</body>
</html>