<html>
<head>
    <title>Customize</title>
</head>
<body>
    <h1 style="text-align:center">OCF Resource Tool</h1>

    <h2 style="text-align:center">Customize selected Resource types for the device</h2>

    <h2>Work under process</h2>


    <form action="/resource" method="GET" >
        <button id = "back" type="submit">Back</button>
    </form>

</body>
</html>