<html>
<head>
    <title>Resource types</title>
    <style>
        body{
            background-color: lightblue;
        }
        .wrapper {
            width : 500px ;
            margin : 20px auto ;
            background-color: white;
            padding : 3px 120px 20px 120px ;
            border-radius: 20px ;
        }
        .option{
            margin-bottom: 10px;
            align-items: center;
        }
        .option label{
            font-size: 18px ;
        }
        .option .input{
            width: 42%;
            height : 4%;
            font-size: 17px;
            margin-left: 20px;
            
        }
        .addOption{
            margin : 30px 0px 20px 0px ;
            padding : 5px 5px 5px 5px ;
            border-style: outset;
        }
        .addOption input{
            height : 30px  ;
            font-size: 14px;
            margin-right: 20px;
        }
        button{
            width : 100% ; 
            padding : 8px 10px ;
            font-size: 15px;
            cursor: pointer;
            background-color:lightblue ;
            border : 0 ;
            border-radius: 20px;
        
        }
        .addBtn{
            width : 15% ; 
            padding : 6px 8px ;
        }
        .nextBtn{
            margin-left: 300px;
            
        }
        .backBtn{
            margin-right: 300px;
            margin-top: -47px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <h1 style="text-align:center">OCF Resource Tool</h1>

        <h2 style="text-align:center">Select Resource types for the device <%= deviceName %> </h2>

        <form action="/customize" method="post" >
            <div id='resourceContent' ></div>

            <script>
                var deviceData = <%- JSON.stringify(data) %> ;
                let content ="" ;
                const capability =   deviceData.mapType.capability;
                const resourceType = deviceData.mapType.resourceType ;
                const resourceHref = deviceData.mapType.resourceHref ;
                for(i= 0 ; i<capability.length ; i++){
                    content += '<div class="option" > '
                    content += `<input type="checkbox" id="${capability[i]}" name="${capability[i]}" value="${resourceType[i]}">`
                    content += `<label for="${capability[i]}"> ${resourceType[i]}</label>`
                    content += `<input type="text" id="${capability[i]}" value="${resourceHref[i]}" name="${capability[i]}" class="input">`
                    content += '</div>'
                }
                document.getElementById("resourceContent").innerHTML = content;
            </script>
            <div class="addOption">
                <input  placeholder="Enter Resource type" id="resource" type="text">
                <input  placeholder="Enter Resource href" id="href" type="text">
                <button type="button" id="add" onclick="addResource()" class="addBtn">Add</button>
            </div>
            <div class="nextBtn">
                <button id = "next" type="submit">Next</button>
            </div>
        </form>

        <form action="/device" method="GET" >
            <div class="backBtn">
                <button id = "back" type="submit">Back</button>
            </div>
        </form>
    </div>

    <script>
        function addResource(){
            const resource = document.getElementById('resource').value ;
            const href = document.getElementById('href').value ;
            content += '<div class="option" > '
            content += `<input type="checkbox" id="new" name="new" value="${resource}">`
            content += `<label for="new"> ${resource}</label>`
            content += `<input type="text" id="new" value="${href}" name="new" class="input">`
            content += '</div>'
            document.getElementById("resourceContent").innerHTML = content;
        }

    </script>

</body>
</html>